html {

    body {

        #app {
            margin: 20px 20px 0px 20px;

            .main {

                .search-header {
                    color: grey;
                    font-size: 25px;
                    margin-bottom: 10px;

                    span {
                        color:grey;
                    }

                    button {
                        margin-left: 10px;
                    }
                }

                .row {
                    margin-top: 5px;

                    .dropdown-options-left {

                        .col-md-1 {
                            margin-right: -40px;
                        }

                        .col-md-5 {
                            margin-left: -10px;
                        }

                        select {
                            width: 100%;
                            padding: 6px 0px;
                            float: right;

                            option {
                                width: 100%;
                            }

                            .option-seperator {
                                color: grey;
                                padding: 0 -5px;
                            }
                        }

                        .bullet-btn {
                            margin-right: 0px;
                            margin-left: 14px;
                            float: left;
                            padding: 0px 15px;
                            height: 32px;
                        }
                    }

                    .input-options-right {

                        .screen-height {
                            // margin-bottom: -8px;
                        }

                        .col-md-2 {

                            float: left;
                            margin-left: -20px;

                            select {
                                width: 100%;
                                padding: 6px 0px;
                            }
                        }

                        .col-md-4 {
                            margin-left: -20px;

                            input {
                                float: right;
                                width: 100%;
                                height: 32px;
                            }
                        }

                        .response-time-is {
                            width: 70px;
                            margin-left: -20px;
                            padding-left: -5px;
                            color: blue;
                            font-weight: bold;
                            font-size: 10px;

                            button {
                                width: 40px;
                                margin-right: 0px;
                                margin-left: 0px;
                                float: left;
                                padding: 0px 15px;
                                height: 32px;
                            }

                        }

                        .response-time-number-input {
                            margin-left: -20px;
                        }

                        .response-time-and {
                            width: 70px;
                            margin-left: -20px;
                            padding-left: -5px;
                            color: blue;
                            font-weight: bold;
                            font-size: 10px;

                            button {
                                width: 40px;
                                margin-right: 0px;
                                margin-left: 0px;
                                float: left;
                                padding: 0px 25px 0px 10px;
                                height: 32px;
                            }
                        }
                        .response-time-ms {
                            width: 70px;
                            margin-left: -20px;
                            padding-left: -5px;
                            color: blue;
                            font-weight: bold;
                            font-size: 10px;

                            button {
                                width: 40px;
                                margin-right: 0px;
                                margin-left: 0px;
                                float: left;
                                padding: 0px 25px 0px 10px;
                                height: 32px;
                            }
                        }
                    }
                }
                .add-row-button {
                    margin-left: 12px;
                }
            }
        }
    }
}
